@font-face {
  font-family: 'Excalidraw';
  src: url('https://cdn.jsdelivr.net/npm/@excalidraw/excalidraw@0.17.0/dist/excalidraw-assets/Virgil.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} 